a {
    text-decoration: none;
    color: inherit;
  }
.container {
    
    font-family: 'Encode Sans';
    display: flex;
    align-items: center;
    justify-content: center
}
.top {
    height: 80px;
    border-bottom: 1px solid #F5F6F7;
    margin-bottom: 25px;
}
.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #F5F6F7;
    width: 100%;
}
.topodebaixo {
    font-family: 'Encode Sans';
    justify-content: space-between;
    color: inherit;
    margin: 0 auto;
    padding: 5px 0 5px 0;
    width: 1250px;
    text-decoration: none;
    display: flex;
}

h2, h3, p {
    text-decoration: none;
}

.g1 {color: #C3170C;}
.oglobo {color: #1E4B9B;}
.valor {color: #006766}
.ge {color: #07AA47;}
.cartola{color: #E3662B;}
.globoplay{color: #FB0735;}
.dropz{color: #FF75BB;}
.gshow{color: #EC7D00;}     
.quem{color: #323333;}
.receitas {color: #A81D83;}



.imagem1 {
    border-radius: 12px;    
    width: 193px;
    margin-bottom: 5px;
}
.imagem2 {
    width: 240px;
    border-radius: 12px;
    margin-bottom: 5px;
}
.noticias-com-imagem {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F5F6F7;
    padding-bottom: 25px;
}
.noticias-sem-imagem {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.metade1 {
    width: 625px;
    padding: 0 25px 0 25px;
    
}

.coluna{
    border-left: 1px solid #ebedef;
    padding:0 25px 0 25px;
}
.metade2 {
    max-width: 625px;
    display: flex;
}
.noticia2 {
    width: 240px;
    margin-top: 15px;
}
.noticia1 {
    width: 193px;
    justify-content: space-between;
}

h1 {font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    margin-bottom: 5px;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 5px
}
h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 5px
}
.headline{
    font-size: 52px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 25px;
}
.subline{
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
}
.subline2{
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
    border-bottom: 1px solid #F5F6F7;
}
